/*
burger menu - https://codepen.io/erikterwan/pen/grOZxx
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Nerko+One&display=swap');
/*
font-family: 'Inter', sans-serif;
font-family: 'Nerko One', cursive;
*/

* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }

  .hero {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 600px;
  }

  .hero img {
    height:800px;
    border-image-source: element(header);
  }


  header h1 {
    font-family: 'Nerko One', cursive;
    margin: 0;
    padding: 40px;
  }

  .home-page h2 {
    font-family: 'Nerko One', cursive;
    width: 80%;
    margin: 80px auto 20px auto;
  }

  .branding {
    display: flex;
    align-items: baseline;
    background-color: red;
  }

  .logo img {
    width:10%;
    margin: 20px;
    margin-bottom: 20px;
    flex: 25%;
  }

  img {
    width: 100%;
  }

  body
  {
    margin: 0;
    padding: 0;
    background: #232323;
    color: #cdcdcd;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
  }
  
  .link
  {
    text-decoration: none;
    color: white;
    
    transition: color 0.3s ease;
  }
  
  a:hover
  {
    color: black;
  }
  
  #menuToggle
  {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
  }
  
  #menuToggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #cdcdcd;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu
  {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    padding: 10px;
    padding-top: 50px;
    right: -100px;
    height: 1024px;
    
    background: black;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    padding: 10px 0;
    font-size: 22px;
  }
  
  #menuToggle input:checked ~ ul
  {
    transform: none;
    opacity: 1;
  }
  
  .parent {
    display: flex;
    width: 80%;
    margin: auto;
  }
  .parent div {
    flex: 1;
  }
  .parent .right {
    padding-left: 40px;
  }
  .parent .left {
    padding-right: 40px;
  }
  .two-col-content {
    display: flex;
  }
  .two-col-content div {
    flex: 1;
  }
  .two-col-content img {
    padding: 10px;
  }
  footer {
    background: red;
    padding: 60px 0 40px 0;
  }
  footer div {
    width: 80%;
    margin: auto;
    color: white;
    font-family: 'Nerko One', cursive;
    font-size: 30px;
  }

  .link {
    font-size: 50px;
  }

  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards_item {
    display: flex;
    padding: 1rem;
    width: 33.3333%
  }
  
  .card {
    background-color: #232323;
    border:#ffffff 1px solid;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    padding: 1rem;
  }
  
  .card_text {
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
    overflow-x: hidden;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }