@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    box-sizing: border-box;
}
body {
    background-color: #1E1E1E;
    color:white;
}

.form button,
fieldset,
input,
legend,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.add button {
  margin-top:10px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid darkgoldenrod !important;
  color:goldenrod;
  background-color:none !important;
  border-radius: 4px;
  resize: none;
}

section {
    font-family:'Montserrat', 'sans-serif';
    width:80%;
    margin:auto;
    padding-top:80px;
}
figure {
  margin:0;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size:32px;
  }

.logo {
    width:10%;
    margin: 20px;
    margin-bottom: 10px;
    flex: 25%;
    font-family:'Italiana', 'cursive';
    color:white;
    text-decoration:none;
  }

img {
    width:100%;
}

header {
    margin-top:10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: #1E1E1E;
}
  

/* START of Mobile Menu */
.nav, .desktop {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 900;
    font-family:'Italiana', 'cursive';
    font-size:28px;
}

.icon {
    position: fixed;
    cursor: pointer;
    top: 5%;
    right: 0%;
    width: 40px;
    height: 45px;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1000;
}

.hamburger {
    width: 40px;
    height: 4px;
    line-height: 70px;
    background: white;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 6px 20px 0 rgb(255 207 207 / 91%);
    transition: .5s;
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    top: 10px;
}

.icon.active .hamburger {
    background-color: #1E1E1E;
    box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}

.menu-mobile {
    background-color: #1E1E1E;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: 150px;
    font-family:'Italiana', 'cursive';
    text-align: center;
}

.menu-mobile, .menu-mobile a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menu-mobile a {
    clear: right;
    text-decoration: none;
    color: white;
    height: 70px;
    line-height: 70px;
}
.menu-mobile a:hover {
    color: lightyellow;
}

.menu-mobile a:active {
    color: goldenrod;
}

.desktop, .menu-desktop, .menu-mobile {
        display: none;
    }
/* END OF Mobile Menu */


main {
    margin-top:90px;
    width:100%;
}
.flex {
    display:flex;
    margin:auto;
}
.candle {
  position:absolute;
  right:0;
  top:0;
  z-index:-1;
}
.candle img {
  width:510px;
  z-index:-1;
}
.flex div {
    flex:1;
    
}
.flex .left {
    padding-right:60px;
}

hr {
    border-top: 1px solid white;
}

.container {
    color: white;
  }
  
.centered {
  z-index:2;
  position:relative;
  }
.centered h1 {
    font-family:'Italiana', 'cursive';
    font-size:152px;
    margin:0;
    z-index:99;
  }

.centered h3 {
    font-family:'Italiana', 'cursive';
    font-size:32px;
    margin:0;
  }

h1 {
    font-family:'Italiana', 'cursive';
    font-size:152px;
  }

h2 {
    font-family:'Italiana', 'cursive';
    font-size:48px;
  }

h3 {
    font-family:'Italiana', 'cursive';
    font-size:32px;
  }

  .box h3 {
    font-family:'Italiana', 'cursive';
    font-size:32px;
    margin:-10px;
  }

  .instagram {
    margin-bottom:40px;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }

.two-column-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
.left-column img {
    width: 100%;
    height: auto;
  }

.left-column {
    width: 50%;
  }
  
.thumbnail-container {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
  }
  
.thumbnail {
    cursor: pointer;
    margin: 5px;
    flex-direction:row;
  }

  .thumbnail img {
    width:20%;
  }
  
.right-column {
    width: 50%;
    padding-left: 30px;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
    padding-bottom:30px;
  }
  
.dropbtn {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
.dropdown-content {
    display: none;
    width:333px;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {
    background-color: #555;
  }

ul {
    list-style: none;
  }

p {
    font-family: 'montserrat', 'sans-serif';
    font-weight:200;
    font-size:20px;
    line-height:24px;
  }

.store {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

.store_image-wrapper {
    padding: 1rem;
    min-width: 8rem;
    flex: 0 1 33.33%;
  }

.store_image-description {
  word-wrap: break-word;
  word-break: break-word;
  font-family:'Italiana', cursive;
  font-size:32px;
}

.store_image-graphic {
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.store_image-graphic-inline {
  margin: auto;
  padding:20px;
  display: block;
  width:100%;
}

#myBtn button {
  border-style: 2px solid goldenrod;
  background-color:black;
  text-decoration:none;
  color:goldenrod;
  font-size:32px;
}

.social-box {
  display:flex;
  flex-direction:row;
  width:45%;
  margin:auto;
}

.social-list {
  display:flex;
  flex-direction:row;
}

.box {
  background-color:lightcoral;
  padding:5%;
  margin:auto;
}

.title{
  margin-bottom: 5vh;
}
.card{
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}

.cart{
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

.summary{
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;

  .summary .col-2{
    padding: 0;
}
}
.summary .col-10
{
    padding: 0;
}
.row{
    margin: 0;
}
.title b{
    font-size: 1.5rem;
}
.main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
.col-2, .col{
    padding: 0 1vh;
}
a{
    padding: 0 1vh;
}
.close{
    margin-left: auto;
    font-size: 0.7rem;
}
img{
    width: 3.5rem;
}
.back-to-shop{
    margin-top: 4.5rem;
}
h5{
    margin-top: 4vh;
}
hr{
    margin-top: 1.25rem;
}

.form button {
  margin-top:10px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid darkgoldenrod !important;
  color:goldenrod;
  border-radius: 4px;
  resize: none;
}

form{
    padding: 2vh 0;
}

.form input,
select, code {
  border: 2px solid darkgoldenrod;
  color:goldenrod;
  border-radius: 0.25rem;
  margin-top:10px;
}

textarea {
  margin-top:10px;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid darkgoldenrod;
  color:goldenrod;
  border-radius: 4px;
  resize: none;
}

select{
  border: 2px solid darkgoldenrod;
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
}
input{
  border: 2px solid darkgoldenrod;
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
}
input:focus::-webkit-input-placeholder
{
      color:transparent;
}

.dropbtn button{
  border-color: darkgoldenrod;
  color: darkgoldenrod;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
}
.dropbtn button:focus{
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: goldenrod;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none; 
}
btn:hover{
  color: goldenrod;
}

a{
    color: darkgoldenrod; 
}
a:hover{
    color: goldenrod;
    text-decoration: none;
}

img {
  width:100%;
}

.img-fluid {
  width:30%;
}

 /* #code{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
} */

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: none;
  color: goldenrod;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: darkgoldenrod;
  color:white;
}

span.price {
  position:relative;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

.slideshow {
  width:80%;
  margin:auto;
  display:flex;
  align-items:center;
}
.slideshow .slide {
  flex:80%;
}
.slideshow .slideimg {
  transition: 1s;
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.arrow {
  font-size:60px;
  padding:10px;
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: goldenrod;
  margin: auto;
  padding: 20px;
  width: 80%;
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.fa {
  padding: 20px;
  width: 100%;
  font-size: 50px;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-instagram {
  color: white;
}

.one-column {
  margin-top:-100px;
}

footer {
    background-color:rgb(67, 67, 67);
    color:white;
    margin-top:100px;
  }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* START of desktop menu for 768 media query */
    .menu-desktop {
        width: 100%;
        display: block;
        padding: 0;
        line-height: 50px;
        justify-content: space-evenly;
        flex-direction: row;
        height: 0;
        text-align: right;
        position: absolute;
        top: 10px;
        right: 0;
    }

    .menu-desktop a {
        display: inline-flex;
        margin-right: 30px;
        height: 0;
        line-height: 50px;
        text-decoration: none;
        color: white;
        justify-content: space-evenly;
    }
    .menu-desktop a:hover {
        color: lightgoldenrodyellow;
    }

    .menu-desktop a:active {
        color: goldenrod;
    }

    .menu-desktop a:after {
        color: goldenrod;
    }

    .desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        display: block;
    }

    header.nav, .menu-mobile {
        display: none;
    }

      .column {
        flex: 50%;
        max-width: 50%;
      }
    /* END of desktop menu for 768 media query */
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }

  .box {
    margin:10px;
  }
}

/* If the screen is smaller than 768 */
@media only screen and (max-width: 768px) {
    .flex {
        flex-direction:column;
        padding-top:175px;
    }
    .flex .left {
        padding:0;
    }
    .flex .left, .flex .right {
        flex:1;
        padding:0;
        padding-bottom:30px;
    }

    .column {
        flex: 100%;
        max-width: 100%;
      }

      .responsive {
        width: 100%;
      }

      .store_image-wrapper {
        flex: 1 1 100%;
      }

      .two-column-section {
        display: flex;
        flex-direction:column;
        width:100%;
        align-items:center;
        justify-content: space-between;
      }
    
      .left-column {
        flex:1;
      }
      
      .right-column {
        flex:1;
        padding:0;
      }

      .centered {
        z-index:2;
        position:relative;
        }
      .centered h1 {
          font-family:'Italiana', 'cursive';
          font-size:68px;
          margin:0;
          z-index:99;
        }
      
      .centered h3 {
          font-family:'Italiana', 'cursive';
          font-size:32px;
          margin:0;
        }

        .candle {
          position:absolute;
          z-index:-1;
        }

        .cart{
          padding: 4vh;
          border-bottom-left-radius: unset;
          border-top-right-radius: 1rem;
      }

      .summary{
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem;
        }
      
      .row {
        flex-direction: column-reverse;
      }
      .col-25 {
        margin-bottom: 20px;
      }

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}